footer {
    background-color: #222;
    color: #fff;
    .container {
        width: 100%;
        padding: 20px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .logo {
                font-size: 1.5em;
                font-weight: bold;
            }
        
        }
        
        .content {
            display: flex;
            justify-content: space-between;
        
        }
    }
}