footer {
    background-color: #222;
    color: #fff;
    .container {
        width: 100%;
        padding: 20px;
        width: calc(100% - 80px); 
        display: flex;
        justify-content: center;
            .logo {
                font-size: 1.5em;
                font-weight: bold;
            }
        }   
}